body, html{
    width: 100%;
    height: 100%;
}
#wrapper {
    width: 100%;
    background: #09192A;
    /* height: 100%; */
}
.navbar-header {
    background: #09192A;
}

@media (min-width: 768px) {
    .navbar-header {
    float: left;
}
}

.navbar{
    margin: 0px;
}
.navbar-right {
    float: right !important;
    margin-right: 5px;
}
.top-navbar {
    background: #09192A;
    border-bottom: none;
    margin: 0px;
}
.top-navbar .navbar-brand {
    color: #fff;
    width: 260px;
    text-align: left;
    height: 60px;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 30px;
}
.top-navbar .nav > li {
    position: relative;
    display: inline-block;
}
.top-navbar .nav > li > a {
    position: relative;
    display: block;
    padding: 19px 15px;
    color: #77C0FD;
}

.top-navbar .nav > li > a:hover, .top-navbar .nav > li > a:focus {
    text-decoration: none;
    background-color: #225081;
    color: #fff;
}
.top-navbar .dropdown-menu {
    min-width: 230px;
    border-radius: 0 0 4px 4px;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #eee;
    border-color: #428bca;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    /* background-color: transparent; */
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background: #09192A;
}
.sidebar-collapse {
    margin-top: 0px;
    background: #09192A;
    height: 100%;
}
.sidebar-collapse .nav {
    padding: 0;
}

.navbar-default {
    border: 0px solid black;
}
.navbar-side {
    margin: 0px;
    border: none;
    background-color: #09192A;
    min-height: 620px;
}
@media (min-width: 768px){
    .navbar-side {
        z-index: 1;
        position: absolute;
        width: 260px;
    }
}

.sidebar-collapse > .nav > li {
    border-bottom: 1px solid rgba(107, 108, 109, 0.19);
}
.sidebar-collapse > .nav > li > a {
    padding: 15px 10px;
}
.sidebar-collapse .nav > li > a {
    color: #fff;
    background: transparent;
    text-shadow: none;
}
.active-menu {
    background-color: #225081!important;
}
ul.nav.nav-second-level.collapse.in {
    background: #172D44;
}

.sidebar-collapse .nav {
    padding: 0;
}
.caret {
    float: right;
    margin-top: 10px;
}
#page-wrapper {
    min-height: 600px;
    background: #E5EBF2;
    margin: 0 0 0 260px;
    padding: 15px 30px;
    min-height: 1200px;
}
#page-inner {
    width: 100%;
    margin: 10px 20px 10px 0px;
    background-color: transparent;
    padding: 10px;
    min-height: 1200px;
}
.page-header{
    padding-bottom: 9px;
    margin: 10px 0 45px;
    border-bottom: 1px solid #C7D1DD;
    text-align: center;
}
.bg-color-green {
    background-color: #fff;
    color: #5cb85c;
}
.no-boder {
    border: 1px solid #f3f3f3;
}
.text-center {
    text-align: center;
}
.bg-color-blue {
    background-color: #fff;
    color: #4CB1CF;
}
.bg-color-red {
    background-color: #fff;
    color: #F0433D;
}
.bg-color-brown {
    background-color: #fff;
    color: #f0ad4e;
}
#page-inner {
    width: 100%;
    margin: 10px 20px 10px 0px;
    background-color: transparent;
    padding: 10px;
    min-height: 1200px;
}
.page-header{
    padding-bottom: 9px;
    margin: 10px 0 45px;
    border-bottom: 1px solid #C7D1DD;
    text-align: center;
}
.bg-color-green {
    background-color: #fff;
    color: #5cb85c;
}
.no-boder {
    border: 1px solid #f3f3f3;
}
.text-center {
    text-align: center;
}
.bg-color-blue {
    background-color: #fff;
    color: #4CB1CF;
}
.bg-color-red {
    background-color: #fff;
    color: #F0433D;
}
.bg-color-brown {
    background-color: #fff;
    color: #f0ad4e;
}

/* code for the tabs */

.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
	border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
	margin-bottom: -1px;
}
.with-nav-tabs.panel-primary .nav-tabs > li > a,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
}
.with-nav-tabs.panel-primary .nav-tabs > .open > a,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
	color: #fff;
	background-color: #3071a9;
	border-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
	color: #428bca;
	background-color: #fff;
	border-color: #428bca;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #428bca;
    border-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #fff;   
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    background-color: #4a9fe9;
}